.scrollToTopBackground {
  position: fixed;
  right: 4%;
  bottom: 96px;
  height: 20px;
  z-index: 1;
  cursor: pointer;
  padding: 8px;
  border-radius: 100%;
  border: none;
  background-color: rgba(74, 74, 74, 0.5);
  height: 48px;
  width: 48px;
}

.scrollToTopBackground:hover {
  background-color: rgba(74, 74, 74, 0.75);
}
