.contactMePageBackground {
  height: calc(100vh - 96px - 80px);
  width: 100vw;
}

.contactMePageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 96px - 80px);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.contactFormTitle {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 4vh;
}

.contactFormInput {
  width: calc(100% - 26px);
  border-radius: 8px;
  border: 1px solid #949494;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 12px;
  max-width: calc(100% - 26px);
  min-width: calc(100% - 26px);
  font-size: 16px;
}

.contactFormTextArea {
  width: calc(100% - 26px);
  border-radius: 8px;
  border: 1px solid #949494;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 12px;
  max-width: calc(100% - 26px);
  min-width: calc(100% - 26px);
  font-size: 16px;
  height: 16vh;
  min-height: 16px;
  max-height: 40vh;
  margin-top: 16px;
}

.contactFormButton {
  width: 100% !important;
  margin-top: 16px !important;
  background-color: #D98A83 !important;
  font-size: 14px !important;
  height: 56px !important;
}

.contactFormButton:hover {
  background-color: #C75F55 !important;
}

.contactFormSuccessWrapper {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.contactFormSuccessTextWrapper {
  border-radius: 8px;
  border: 1px solid #949494;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
  width: fit-content;
  padding: 0 64px;
}
