.templateBackground {
  display: flex;
  min-height: 100%;
}

.templateBackgroundMobile {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.templateLeftChild {
  width: 34vw;
  display: flex;
  justify-content: center;
}

.templateLeftChild > img {
  width: 20vw;
  height: calc(100vh - 96px);
  object-fit: contain;
}

.templateRightChild {
  width: 66vw;
}
