.templateBackground {
  display: flex;
  height: 100%;
}

.templateLeftChild {
  width: 34vw;
  display: flex;
  justify-content: center;
}

.templateLeftChild > img {
  width: 20vw;
  height: auto;
  object-fit: contain;
}

.templateRightChild {
  width: 66vw;
}
