.navBarBackground {
  height: 96px;
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
  position: fixed;
  width: 100%;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navBarBackgroundMobile {
  min-height: 64px;
  display: flex;
  position: fixed;
  align-items: center;
  padding: 0 8vw;
  width: calc(100% - 16vw);;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navBarMenu {
  font-size: 24px;
  height: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  font-family: 'Prompt';
  cursor: pointer;
}

.navBarHamburger {
  cursor: pointer;
  z-index: 1;
  position: absolute;
}

.navBarOnShowMenuMobile {
  padding: 18px 0;
  width: 100%;
  max-height: 500px;
  transition: max-height 0.5s ease-in;
  overflow: hidden;
  z-index: 2;
  background-color: white;
}

.navBarHideMenuMobile {
  margin: 18px 0;
  width: 100%;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  z-index: 2;
  background-color: white;
}

.navBarMenuWrapperMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
