.navBarBackground {
  height: 96px;
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
  position: fixed;
  width: 100%;
  background: white
}

.navBarMenu {
  font-size: 24px;
  height: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  font-family: 'Prompt';
  cursor: pointer;
}

